/* Side menu */
/* line 2, ../sass/dashboard-menu.scss */
.menubar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1px;
  background-color: #FFFFFF;
}
/* line 14, ../sass/dashboard-menu.scss */
.menubar .close-btn {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 25px;
  color: #5E5E5E;
  text-decoration: none;
}
/* line 23, ../sass/dashboard-menu.scss */
.menubar-profile {
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 16px;
  padding: 68px 0 32px;
  border-bottom: 1px solid #D8D8D8;
  align-items: center;
}
/* line 31, ../sass/dashboard-menu.scss */
.menubar-profile-photo {
  background-image: url("../images/example2.jpg");
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
/* line 40, ../sass/dashboard-menu.scss */
.menubar-profile-text-name {
  font-size: 16px;
  color: #5E5E5E;
}
/* line 45, ../sass/dashboard-menu.scss */
.menubar-profile-text-edit {
  margin-top: 8px;
}
/* line 48, ../sass/dashboard-menu.scss */
.menubar-profile-text-edit .grey-btn {
  width: 70px;
  height: 32px;
  font-size: 12px;
  padding: 5px 0;
}
/* line 58, ../sass/dashboard-menu.scss */
.menubar-item {
  display: block;
  padding: 16px 0;
  border-bottom: 1px solid #D8D8D8;
  font-size: 16px;
  transition: 0.3s;
}
/* line 65, ../sass/dashboard-menu.scss */
.menubar-item a {
  color: #5E5E5E;
  text-decoration: none;
}
/* line 71, ../sass/dashboard-menu.scss */
.menubar-logout {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 76, ../sass/dashboard-menu.scss */
.menubar-logout .log-out-btn {
  border: none;
  width: 100%;
  height: 54px;
  background: #ECECEC;
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  color: #5E5E5E;
  cursor: pointer;
}

/* line 90, ../sass/dashboard-menu.scss */
body {
  background: #EBEBEB;
}

/* Black Overlay */
/* line 95, ../sass/dashboard-menu.scss */
#black-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

/* line 104, ../sass/dashboard-menu.scss */
.default#black-overlay.active {
  display: block;
}

/* Blur Background */
/* line 109, ../sass/dashboard-menu.scss */
.default#blur-overlay.active {
  filter: blur(10px);
  pointer-events: none;
  user-select: none;
}

/* line 115, ../sass/dashboard-menu.scss */
header {
  height: 44px;
  background: #028ED5;
  padding: 11px 16px;
  display: grid;
  grid-template-columns: auto 24px 24px;
  column-gap: 8px;
  align-items: center;
}
/* line 124, ../sass/dashboard-menu.scss */
header .open-sans-bold {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}
/* line 130, ../sass/dashboard-menu.scss */
header #btn-search {
  justify-self: right;
  cursor: pointer;
}
/* line 135, ../sass/dashboard-menu.scss */
header #btn-menu {
  justify-self: right;
  cursor: pointer;
}

/* Banner */
/* line 142, ../sass/dashboard-menu.scss */
.carousel {
  background-color: #F8F8F8;
  padding: 32px 0;
}
/* line 146, ../sass/dashboard-menu.scss */
.carousel .banner {
  position: relative;
}
/* line 150, ../sass/dashboard-menu.scss */
.carousel-item {
  background-image: url("../images/example2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  width: 100%;
  height: 170px;
}
/* line 158, ../sass/dashboard-menu.scss */
.carousel-item-overlay {
  background-image: linear-gradient(90deg, #000000 1%, transparent 99%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  width: 100%;
  height: 170px;
  padding: 16px;
}
/* line 168, ../sass/dashboard-menu.scss */
.carousel-item-title {
  width: 226px;
  font-size: 16px;
  color: #FFFFFF;
}

/* Donation */
/* line 177, ../sass/dashboard-menu.scss */
.donation {
  margin-top: 8px;
  background-color: #F8F8F8;
  padding: 24px 0;
}
/* line 182, ../sass/dashboard-menu.scss */
.donation-title {
  font-size: 21px;
  color: #5E5E5E;
}
/* line 187, ../sass/dashboard-menu.scss */
.donation-desc {
  margin-top: 16px;
  width: 320px;
  font-size: 14px;
  color: #5E5E5E;
  line-height: 22px;
}
/* line 195, ../sass/dashboard-menu.scss */
.donation-slider {
  margin: 32px 0;
}
/* line 200, ../sass/dashboard-menu.scss */
.donation-content-card {
  display: block;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  width: 334px;
  padding-bottom: 24px;
}
/* line 209, ../sass/dashboard-menu.scss */
.donation-content-card-img {
  background-image: url("../images/example2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 148px;
}
/* line 217, ../sass/dashboard-menu.scss */
.donation-content-card-title {
  margin-top: 17px;
  font-size: 16px;
  color: #5E5E5E;
  line-height: 24px;
}
/* line 224, ../sass/dashboard-menu.scss */
.donation-content-card-bar {
  margin-top: 23px;
  background-color: #E5E5E5;
  border-radius: 2px;
}
/* line 229, ../sass/dashboard-menu.scss */
.donation-content-card-bar .progress-bar {
  display: block;
  width: 80%;
  background-color: #F3931B;
  padding: 2px 0;
  content: "";
  border-radius: 2px;
}
/* line 239, ../sass/dashboard-menu.scss */
.donation-content-card-info {
  margin-top: 9px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 17px 22px;
  row-gap: 2px;
}
/* line 246, ../sass/dashboard-menu.scss */
.donation-content-card-info .collected {
  justify-self: left;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 253, ../sass/dashboard-menu.scss */
.donation-content-card-info .amount {
  justify-self: left;
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}
/* line 260, ../sass/dashboard-menu.scss */
.donation-content-card-info .duration {
  justify-self: right;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 267, ../sass/dashboard-menu.scss */
.donation-content-card-info .days {
  justify-self: right;
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}
/* line 276, ../sass/dashboard-menu.scss */
.donation-content-new {
  display: block;
  background: #F3931B;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  width: 334px;
  height: 314px;
  padding: 16px;
  cursor: pointer;
}
/* line 287, ../sass/dashboard-menu.scss */
.donation-content-new-icon {
  margin-top: 117px;
  text-align: center;
  cursor: pointer;
}
/* line 293, ../sass/dashboard-menu.scss */
.donation-content-new .new-donate-btn {
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  padding: 10px 0;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  width: 302px;
  height: 44px;
  position: absolute;
  bottom: 16px;
}
/* line 311, ../sass/dashboard-menu.scss */
.donation-link {
  text-align: center;
}

/* Galang Dana Saya */
/* line 317, ../sass/dashboard-menu.scss */
.campaign {
  margin-top: 8px;
  background-color: #F8F8F8;
  padding: 24px 0;
}
/* line 322, ../sass/dashboard-menu.scss */
.campaign-title {
  font-size: 21px;
  color: #5E5E5E;
}
/* line 327, ../sass/dashboard-menu.scss */
.campaign-desc {
  margin-top: 16px;
  width: 320px;
  font-size: 14px;
  color: #5E5E5E;
  line-height: 22px;
}
/* line 335, ../sass/dashboard-menu.scss */
.campaign-create {
  margin-top: 32px;
}
/* line 338, ../sass/dashboard-menu.scss */
.campaign-create-btn {
  border: none;
  border-radius: 6px;
  background: #F3931B;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 14px;
  display: flex;
  width: 100%;
  cursor: pointer;
}
/* line 348, ../sass/dashboard-menu.scss */
.campaign-create-btn-icon {
  padding: 8px;
}
/* line 352, ../sass/dashboard-menu.scss */
.campaign-create-btn-text {
  margin-left: 16.4px;
  width: 296px;
  height: 44px;
  padding: 11px 19px 11px 49px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  font-size: 16px;
  color: #FFFFFF;
}
/* line 365, ../sass/dashboard-menu.scss */
.campaign-list {
  margin-top: 32px;
}
/* line 368, ../sass/dashboard-menu.scss */
.campaign-list-card {
  display: grid;
  grid-template-columns: 132px auto;
  grid-template-rows: 1fr 4px 38px;
  row-gap: 8px;
  height: 132px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-top: 16px;
  padding-bottom: 8px;
}
/* line 381, ../sass/dashboard-menu.scss */
.campaign-list-card-img {
  background-image: url("../images/example2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
  grid-row-start: 1;
  grid-row-end: 4;
}
/* line 391, ../sass/dashboard-menu.scss */
.campaign-list-card-title {
  margin-top: 10px;
  height: 44px;
  padding: 0 16px;
  color: #666666;
  font-size: 16px;
  overflow: hidden;
}
/* line 400, ../sass/dashboard-menu.scss */
.campaign-list-card-bar {
  margin: 0 16px;
  background-color: #E5E5E5;
  border-radius: 2px;
}
/* line 405, ../sass/dashboard-menu.scss */
.campaign-list-card-bar .progress-bar {
  display: block;
  width: 80%;
  background-color: #F3931B;
  padding: 2px 0;
  content: "";
  border-radius: 2px;
}
/* line 415, ../sass/dashboard-menu.scss */
.campaign-list-card-info {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 17px 19px;
  row-gap: 2px;
}
/* line 422, ../sass/dashboard-menu.scss */
.campaign-list-card-info .collected {
  justify-self: left;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 429, ../sass/dashboard-menu.scss */
.campaign-list-card-info .amount {
  justify-self: left;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}
/* line 436, ../sass/dashboard-menu.scss */
.campaign-list-card-info .duration {
  justify-self: right;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 443, ../sass/dashboard-menu.scss */
.campaign-list-card-info .days {
  justify-self: right;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}
/* line 453, ../sass/dashboard-menu.scss */
.campaign-link {
  margin-top: 32px;
  text-align: center;
}

/* Following */
/* line 460, ../sass/dashboard-menu.scss */
.follow {
  margin-top: 8px;
  background-color: #F8F8F8;
  padding: 24px 0;
}
/* line 465, ../sass/dashboard-menu.scss */
.follow-title {
  font-size: 21px;
  color: #5E5E5E;
}
/* line 470, ../sass/dashboard-menu.scss */
.follow-desc {
  margin-top: 16px;
  width: 320px;
  font-size: 14px;
  color: #5E5E5E;
  line-height: 22px;
}
/* line 478, ../sass/dashboard-menu.scss */
.follow-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 16px;
}
/* line 485, ../sass/dashboard-menu.scss */
.follow-list-card {
  display: block;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  padding-bottom: 24px;
}
/* line 493, ../sass/dashboard-menu.scss */
.follow-list-card-img {
  background-image: url("../images/example2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 183px;
}
/* line 501, ../sass/dashboard-menu.scss */
.follow-list-card-title {
  margin-top: 17px;
  font-size: 16px;
  color: #5E5E5E;
  line-height: 24px;
  overflow: hidden;
  height: 48px;
}
/* line 510, ../sass/dashboard-menu.scss */
.follow-list-card-bar {
  margin-top: 47px;
  background-color: #E5E5E5;
  border-radius: 2px;
}
/* line 515, ../sass/dashboard-menu.scss */
.follow-list-card-bar .progress-bar {
  display: block;
  width: 80%;
  background-color: #F3931B;
  padding: 2px 0;
  content: "";
  border-radius: 2px;
}
/* line 525, ../sass/dashboard-menu.scss */
.follow-list-card-info {
  margin-top: 9px;
  display: grid;
  grid-template-rows: 17px 22px;
  row-gap: 2px;
}
/* line 531, ../sass/dashboard-menu.scss */
.follow-list-card-info .collected {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 537, ../sass/dashboard-menu.scss */
.follow-list-card-info .amount {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}
/* line 546, ../sass/dashboard-menu.scss */
.follow-link {
  margin-top: 32px;
  text-align: center;
}

/* Category */
/* line 553, ../sass/dashboard-menu.scss */
.category {
  margin-top: 8px;
  background-color: #F8F8F8;
  padding: 24px 0;
}
/* line 558, ../sass/dashboard-menu.scss */
.category-title {
  font-size: 21px;
  color: #5E5E5E;
}
/* line 563, ../sass/dashboard-menu.scss */
.category-desc {
  margin: 16px 0 32px;
  width: 320px;
  font-size: 14px;
  color: #5E5E5E;
  line-height: 22px;
}
/* line 571, ../sass/dashboard-menu.scss */
.category-buttons {
  display: flex;
  margin: 0 -11px;
}
/* line 575, ../sass/dashboard-menu.scss */
.category-buttons-item {
  padding: 0 11px;
  text-align: center;
}
/* line 580, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn {
  border: none;
  border-radius: 50%;
  background: #F3931B;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
/* line 588, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn .default {
  margin: auto;
  display: block;
  width: 30px;
  height: 30px;
}
/* line 595, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn .active {
  margin: auto;
  display: none;
  width: 30px;
  height: 30px;
}
/* line 602, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn:focus {
  border: 1px solid #F3931B;
  background: transparent;
}
/* line 606, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn:focus .default {
  display: none;
}
/* line 610, ../sass/dashboard-menu.scss */
.category-buttons-item-btn .category-btn:focus .active {
  display: block;
}
/* line 617, ../sass/dashboard-menu.scss */
.category-buttons-item-text {
  margin-top: 4px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
}
/* line 626, ../sass/dashboard-menu.scss */
.category-list {
  margin-top: 32px;
}
/* line 629, ../sass/dashboard-menu.scss */
.category-list-card {
  display: grid;
  grid-template-columns: 132px auto;
  grid-template-rows: 1fr 4px 38px;
  row-gap: 8px;
  height: 132px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-top: 16px;
  padding-bottom: 8px;
}
/* line 642, ../sass/dashboard-menu.scss */
.category-list-card-img {
  background-image: url("../images/example2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
  grid-row-start: 1;
  grid-row-end: 4;
}
/* line 652, ../sass/dashboard-menu.scss */
.category-list-card-title {
  margin-top: 10px;
  height: 44px;
  padding: 0 16px;
  color: #666666;
  font-size: 16px;
  overflow: hidden;
}
/* line 661, ../sass/dashboard-menu.scss */
.category-list-card-bar {
  margin: 0 16px;
  background-color: #E5E5E5;
  border-radius: 2px;
}
/* line 666, ../sass/dashboard-menu.scss */
.category-list-card-bar .progress-bar {
  display: block;
  width: 80%;
  background-color: #F3931B;
  padding: 2px 0;
  content: "";
  border-radius: 2px;
}
/* line 676, ../sass/dashboard-menu.scss */
.category-list-card-info {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 17px 19px;
  row-gap: 2px;
}
/* line 683, ../sass/dashboard-menu.scss */
.category-list-card-info .collected {
  justify-self: left;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 690, ../sass/dashboard-menu.scss */
.category-list-card-info .amount {
  justify-self: left;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}
/* line 697, ../sass/dashboard-menu.scss */
.category-list-card-info .duration {
  justify-self: right;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
/* line 704, ../sass/dashboard-menu.scss */
.category-list-card-info .days {
  justify-self: right;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}
/* line 714, ../sass/dashboard-menu.scss */
.category-link {
  margin-top: 32px;
  text-align: center;
}

/* News */
/* line 721, ../sass/dashboard-menu.scss */
.news {
  margin-top: 8px;
  background-color: #F8F8F8;
  padding: 24px 0;
}
/* line 726, ../sass/dashboard-menu.scss */
.news-title {
  font-size: 21px;
  color: #5E5E5E;
}
/* line 731, ../sass/dashboard-menu.scss */
.news-desc {
  margin: 16px 0 32px;
  width: 320px;
  font-size: 14px;
  color: #5E5E5E;
  line-height: 22px;
}
/* line 739, ../sass/dashboard-menu.scss */
.news-list {
  margin-top: 32px;
}
/* line 742, ../sass/dashboard-menu.scss */
.news-list-card {
  display: grid;
  grid-template-columns: 132px auto;
  height: 132px;
  background: #ffffff;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  margin-top: 16px;
  padding-bottom: 8px;
}
/* line 753, ../sass/dashboard-menu.scss */
.news-list-card-img {
  background-image: url("../images/example2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 132px;
  height: 132px;
}
/* line 761, ../sass/dashboard-menu.scss */
.news-list-card-text {
  padding: 0 12px;
}
/* line 764, ../sass/dashboard-menu.scss */
.news-list-card-text-title {
  margin-top: 10px;
  color: #666666;
  font-size: 16px;
  overflow: hidden;
}
/* line 771, ../sass/dashboard-menu.scss */
.news-list-card-text-date {
  margin-top: 16px;
  font-size: 12px;
  color: #999999;
}
/* line 780, ../sass/dashboard-menu.scss */
.news-link {
  margin-top: 32px;
  text-align: center;
}

/* Popup */
/* line 787, ../sass/dashboard-menu.scss */
.popup {
  display: block;
  width: 366px;
  height: 394px;
  background-color: #FFFFFF;
  padding: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 3;
}
/* line 802, ../sass/dashboard-menu.scss */
.popup-icon {
  margin-top: 48px;
  text-align: center;
}
/* line 806, ../sass/dashboard-menu.scss */
.popup-icon img {
  width: 80px;
  height: 80px;
}
/* line 812, ../sass/dashboard-menu.scss */
.popup-title {
  margin: 32px 0 8px;
  font-size: 28px;
  color: #5E5E5E;
  text-align: center;
}
/* line 819, ../sass/dashboard-menu.scss */
.popup-text {
  margin: auto;
  font-size: 14px;
  color: #5E5E5E;
  text-align: center;
  line-height: 24px;
  width: 254px;
}
/* line 828, ../sass/dashboard-menu.scss */
.popup-button {
  position: absolute;
  bottom: 16px;
  width: 334px;
}

/* line 835, ../sass/dashboard-menu.scss */
.popup.active {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}
